<div id='blogs' class='container blogs section scrollspy'>
  <h2>Blogs</h2>
  <div class="row">
    <% @blogs.each_with_index do |blog, index| %>
      <div class="col s12 m4">
        <div class="card-panel teal">
          <h3><%= blog.title %></h3>
          <span class="flow-text white-text">
            <%= blog.body.html_safe %>
          </span>
        </div>
      </div>
    <%end%>
  </div>
</div>
