<div id='home' class='lander'>
  <div class='container lander-box'>
    <h1>Matthew Costabile</h1>
    <h5>Web Developer, Photographer, Traveler, Bicyclist</h5>
    <div class='social-media'>
      <ul>
        <li>
          <i class="fa fa-github"></i>
        </li>
        <li>
          <i class="fa fa-linkedin-square"></i>
        </li>
        <li>
          <i class="fa fa-envelope-square"></i>
        </li>
        <li>
          <i class="fa fa-facebook-square"></i>
        </li>
        <li>
          <i class="fa fa-instagram"></i>
        </li>
        <li>
          <i class="fa fa-flickr"></i>
        </li>
        <li>
          <i class="fa fa-instagram"></i>
        </li>
      </ul>
    </div>
    <div class='hide-me'>
      <%= link_to "Hire Me", "#contact", class: 'btn' %>
    </div>


  </div>

</div>
