<div id='home' class='lander valign-wrapper section scrollspy'>
  <div class='container lander-box'>
    <h1>Matthew Costabile</h1>
    <h5>Web Developer, Photographer, Traveler, Bicyclist</h5>
    <div class='hire-me'>
      <%= link_to "Hire Me", "#contact", class: 'btn' %>
    </div>


  </div>

</div>
