<div id='home' class='lander valign-wrapper section scrollspy'>
  <%=image_tag '/images/background.jpg', class: 'background-image' %>
  <div class='container lander-box'>
    <div class='lander-text'>
      <h1>Matthew Costabile</h1>
      <h5>Web Developer, Photographer, Traveler, Bicyclist</h5>
      <div class='hire-me'>
        <%= link_to "Hire Me", "#contact", class: 'btn' %>
      </div>
      <div clas='down-arrow'>
        <%= link_to "#bio", class: 'waves-effect waves-teal hoverable' do %>
          <i class="fa fa-angle-double-down fa-4x teal-text" ></i>
        <%end%>
      </div>
    </div>
  </div>
</div>
