<div id='albums' class='albums section scrollspy'>
  <h2>Photo Albums</h2>
  <div id='photos_go_here' class='row'>
  </div>
</div>


<script>
  var albums = <%=raw @albums.sort_by{|hash| hash[:arr]}.to_json %>

  for(var i = 0; i < albums.length; i++){
    $.ajax({
      method: 'get',
      url:"https://api.flickr.com/services/rest/?&method=flickr.photosets.getPhotos&api_key=<%=ENV['FLICKR_KEY']%>&photoset_id="+albums[i].photoset_id+"&format=json",
      dataType: 'jsonp'
    });
  }
  function jsonFlickrApi(rsp){
    stuff = rsp
  	if (rsp.stat != "ok"){
  		return;
  	}
    a = document.createElement('a');
    a.href = '/albums/'+rsp.photoset.title;
    outer_div = document.createElement('div');
    outer_div.className='col l3 m6 s12 hoverable card';
    photo_holder = document.getElementById('photos_go_here');
    var slider = document.createElement('div');
    slider.className='slider card-image';
    outer_div.appendChild(slider);
    var title = document.createElement('div');
    var titleText = document.createElement('h6')
    titleText.innerHTML = rsp.photoset.title;
    title.className = 'card-content';
    title.appendChild(titleText);
    outer_div.appendChild(title);
    var slides = document.createElement('ul')
    slides.className='slides';
    slides.style.backgroundColor = ''
    slider.appendChild(slides);
    a.appendChild(outer_div);
    photo_holder.appendChild(a);
  	for (var i=0; i<rsp.photoset.photo.length; i++){
  		var photo = rsp.photoset.photo[i];
  		var li = document.createElement('li');
      var img_src = "http://farm" + photo.farm + ".static.flickr.com/" + photo.server + "/" + photo.id + "_" + photo.secret + "_" + "b.jpg";
      var img = document.createElement('img')
      img.src=img_src;
      //img.className = 'materialboxed'
      li.appendChild(img)
  		// li.appendChild(h3);
  		slides.appendChild(li);
  	}
    $('.slider').slider({interval: 6000, indicators: false});
  }
</script>
