<div class='social-media'>
  <ul>
    <%[{
      className: "fa fa-github",
      url: "http://www.github.com/mattcosta7"
    },
    {
      className: "fa fa-facebook",
      url: "https://www.facebook.com/matthewcostabile"
    },
    {
      className: "fa fa-linkedin",
      url: "https://www.linkedin.com/in/costabilematthew"
    },
    {
      className: "fa fa-envelope",
      url: "mailto:matt@mattc.io"
    },
    {
      className: "fa fa-instagram",
      url: "https://www.instagram.com/mattcosta7/"
    },
    {
      className: "fa fa-flickr",
      url: "https://www.flickr.com/photos/matthewcostabile/"
    }
  ].each do |soc| %>

    <li>
      <a href="<%=soc[:url]%>" class="btn-floating waves-effect waves-teal grey lighten-5"><i class="<%=soc[:className]%>"></i></a>
    </li>
  <%end%>
  </ul>
</div>
