.albums{
  background-color: $background-color;
  .grid{margin-left:30px;}
  .grid-item{
    width: 30%;
    margin:1%;
  }
}

.slider{
  margin-top: 10px;
  .card-image{
    height: 100px;
  }
  .slides{
    background-color: transparent;
  }
}
