/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require redactor-rails
 *= redactor-rails/plugins
 *= require_self
 */
@import "materialize/components/color";
$primary-color: color("green", "lighten-2") !default;
$primary-color-light: false !default;
$primary-color-dark: false !default;
@if not $primary-color-light {
 $primary-color-light: lighten($primary-color, 15%);
}
@if not $primary-color-dark {
 $primary-color-dark: darken($primary-color, 15%);
}
$secondary-color: color("teal", "lighten-1") !default;
$success-color: color("green", "base") !default;
$error-color: color("red", "base") !default;

$link-color: color("red", "darken-1") !default;
@import 'materialize';
@import "font-awesome-sprockets";
@import "font-awesome";

body{

}
.blog-box{
  border: 1px black solid;
}


.lander{
  height: 85vh;
  background-color: teal;
  .lander-box{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    .social-media{
      ul{
        li{
          display: inline;
          font-size: 2em;
        }
      }
    }
  }
  h1{
    margin: 0;
  }
}
