<footer class="page-footer">
  <div class="container left-align">
    <div class="row">
      <%=render partial: 'home/social_media'%>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2016 Matthew Costabile
    <p class="grey-text text-lighten-4"><%= render partial: 'home/social_media'%></p>
    </div>
  </div>
</footer>
